streamlit
qdrant-client
google-generativeai
groq
pydub
gTTS
folium
streamlit-folium
geopy
python-dotenv
pillow
numpy
blinker
altair
cachetools
rich
requests
plotly
pandas
fastapi
uvicorn[standard]
pyjwt
python-multipart

